Password Manager Setup Complete
<!---------------->
Your password manager has been setup! You may log in at <a href="{{url}}/">{{url}}</a>.

Setup the brwoser extention to access your passwords easily. <a href="https://help.strongkeep.com/hc/help-center/articles/1760598013-browser-extension">https://help.strongkeep.com/hc/help-center/articles/1760598013-browser-extension</a>
{{> email/email_footer_text }}